<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 카멜 케이스 매핑 활성화 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 쿼리 결과가 null인 경우 빈 값으로 처리 -->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 로깅 설정 -->
        <setting name="logImpl" value="SLF4J"/>
        <!-- JDBC 타입 강제 지정이 필요한 경우 NULL로 처리 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <!-- DTO 클래스에 대한 별칭 설정 -->
        <package name="junesoft.appl.dto"/>
    </typeAliases>

    <typeHandlers>
        <!-- 날짜 타입 핸들러 -->
        <typeHandler handler="org.apache.ibatis.type.DateTypeHandler" javaType="java.util.Date"/>
    </typeHandlers>
</configuration>